html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.navbar {
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 7rem;
  border-radius: 3rem;
}
#menu-icon {
  font-size: 3rem;
  display: none;
}
.navbar-menu.active {
  display: block;
}
.navbar-menu {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.navbar-item {
  position: relative;
  margin-left: 2rem;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  /* padding: 10px; */
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-item > div:nth-child(1) {
  display: block;
  display: flex;
  align-items: center;
}
.navbar-item > div,
.navbar-item a {
  color: rgb(42, 25, 25);
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar-item > div:hover {
  border-bottom: 2px solid blue;
}
.navbar-dropdown > div a {
  text-decoration: none;
  color: rgb(42, 25, 25);
  font-size: 1.4rem;
}

.navbar-dropdown > div:hover {
  background-color: aliceblue;
}
.navbar-dropdown > div {
  display: flex;
  align-items: center;
  padding: 0.4rem;
}
.navbar-item:hover .navbar-dropdown {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}
.navbar-item:hover .navbar-dropdown > div {
  margin-bottom: 0.7rem;
}
.navbar-item:hover .navbar-dropdown > div a {
  margin-left: 0.8rem;
}
.navbar-dropdown > div:hover {
  border-bottom: 0.1rem blue solid;
}
.navbar-dropdown > div:hover a {
  color: blue;
}
.request-a-tutor-nav-sec {
  padding: 0.6rem 0.8rem;
  background-color: rgb(70, 126, 70);
}
.request-a-tutor-nav-sec a {
  color: white;
}
.login-nav-sec {
  border: 1px solid rgb(70, 126, 70);
  padding: 0.6rem 0.8rem;
  color: white;
}

#navbar-login-dropdown {
  /* border: 2px solid red; */
  padding: 2rem 0;
}

#navbar-login-dropdown div {
  /* border: 2px solid blue; */
  padding: 0.5rem;
  margin: 0.5rem;
}
#navbar-login-dropdown div a {
  font-size: 2rem;
}
#login {
  background-color: rgb(230, 122, 63, 0.6);
}
#navbar-login-dropdown > div:hover {
  border-bottom: none;
}
#navbar-login-dropdown > div:nth-child(2):hover {
  background-color: white;
}
#navbar-login-dropdown > div:nth-child(2):hover a {
  color: rgb(42, 25, 25);
}
#login a {
  color: white;
}
#signup {
  background-color: rgb(70, 126, 70, 0.6);
}
#signup a {
  color: white;
}

.parent {
  width: 100%;
  height: 25rem;
  /* border: 1px solid red; */
  margin: auto;
  position: relative;
}
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.second-parent {
  /* width: 80%; */
  /* height: 15rem; */
  background-color: rgba(64, 72, 75, 0.6);
  /* opacity: 80%; */
  border-radius: 2rem;
  /* border: 5px solid black; */
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15rem;
  right: 15rem;
  color: white;
}

.second-parent h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
}
.second-parent > div {
  /* border: 2px solid red; */

  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
}
.inputs-parent-div {
  /* border: 2px solid blueviolet; */
  /* display: block; */
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.inputs-parent-div input {
  width: 40%;
  height: 3rem;
}
.inputs-parent-div input {
  font-size: 1.8rem;
  padding-left: 0.5rem;
  outline: none;
}
#search-button {
  display: block;
  display: flex;
  align-items: center;
}

/* Teacher section and Jobs section starts from here */
.container {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  position: relative;
  top: 4rem;
}
.heading {
  text-align: center;
  font-size: 3.1rem;
  font-family: sans-serif;
  color: rgb(98, 98, 241);
  font-weight: 600;
}
.mini-container {
  /* display: flex; */
  /* flex-direction: column; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  font-size: 2rem;
}
.option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.mini-container .div {
  border: 1px solid #333;
  padding: 0.5rem 1.2rem;
}

.option a {
  text-decoration: none;
  color: #333;
}
.option a:hover {
  text-decoration: underline;
}

/* Teacher Banner part  is here */
.teacher-banner-container {
  position: relative;
  top: 6rem;
  /* border: 1px solid red; */
  width: 100%;
  height: 13rem;
  background: url("./images/teacher-group.jpeg");
}
.teacher-banner-container h1 {
  text-align: center;
}
.high-quality-teachers {
  font-size: 3.5rem;
  font-family: sans-serif;
  color: rgb(0, 255, 221);
  font-weight: 400;
}
.only55 {
  font-size: 2rem;
  font-family: sans-serif;
  color: white;
  font-weight: 100;
}

.what-we-do-container {
  width: 65%;
  height: 40rem;
  background: url("https://www.teacheron.com/resources/assets/img/customImages/global-presence-125-countries-blue.png");
  position: relative;
  top: 8rem;
  margin: auto;
  font-family: sans-serif;
}
.what-we-do-container-child {
  position: relative;
  top: 7rem;
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
  font-size: 1.8rem;
  background-color: #eee;
  font-family: sans-serif;
  padding: 1rem 2rem;
  color: #333;
}

.what-we-do-container-child h1 {
  text-align: center;
  font-size: 3rem;
  /* padding-top: 2rem; */
}
.what-we-do-container-child div {
  /* border: 2px solid blue; */
  width: 64%;
  margin: auto;
}
.fixed-inputs {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
  padding: 10px;
}
.fixed-button {
  padding: 0.8rem 2rem;
}

/* max 900px */
@media (max-width: 901px) {
  .navbar {
    justify-content: space-between;
    /* padding: 10px; */
  }
}
@media (max-width: 768px) {
  .navbar {
    display: grid;
    grid-template-columns: 15% 70%;
    height: 8rem;
    z-index: 505;
  }
  .navbar > div {
    padding-top: -1rem;
    /* border: 2px solid rebeccapurple; */
  }
  .navbar-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media (max-width: 101px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 13rem;
    z-index: 505;
    /* align-items: stretch;
    padding: 10px; */
    border: 5px solid red;
  }
  .navbar-logo {
    /* display: none; */
    /* margin-top: -0.8rem; */
    width: 45%;
    height: 35%;
    position: relative;
    top: 1rem;
    /* z-index: 5; */
    opacity: 0.1;
  }
  .navbar-logo img {
    width: 9rem;
    height: 9rem;
    border-radius: 5rem;
  }
  .navbar-menu {
    border: 1px solid blue;
    /* width: 100%; */
    /* margin-top: 1rem; */
    /* flex-direction: column; */
    /* align-items: stretch; */
    display: none;
  }
}
@media (max-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 5rem;
    z-index: 505;
  }
  .navbar-menu {
    display: none;
  }
  #menu-icon {
    display: block;
  }
  .navbar-logo img {
    height: 5rem;
    border-radius: 2.5rem;
  }

  .navbar-menu {
    border: 1px solid blue;
    color: white;
    width: 97%;
    margin-top: 6.5rem;
    flex-direction: column;
    position: absolute;
    top: 0.2rem;
    left: 0.8rem;
    background-color: white;
    /* align-items: stretch; */
    z-index: 2000;
  }
  .login-nav-sec {
    border: none;
  }
  .navbar-item {
    margin-bottom: 1rem;
    border-bottom: none;
  }
  .navbar-item > div:hover {
    border-bottom: none;
  }
}
