/* ===== =====  Poppins Google Font  ===== =====  */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

/* ===== =====>>  Universal Selector  <<===== =====  */
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* ===== =====>>  Body Font Size  <<===== =====  */
html {
  font-size: 10px;
}

/* ===== =====>> Css Variables  <<===== =====  */
:root {
  /* =====>>  Font Color  <<===== */
  --f1-color: #fff;
  --f2-color: #000;
  --f3-color: rgba(0, 0, 0, 0.8);
  --f4-color: rgba(0, 0, 0, 0.6);
  --f5-color: #0099cc;
  --f6-color: #88cee6;

  /* =====>>  Background Color  <<===== */
  --bg1-color: #fff;
  --bg2-color: #000;
  --bg3-color: #33ccff;
  --bg4-color: #33cc33;
  --bg5-color: #0099cc;
  --bg6-color: rgba(0, 0, 0, 0.4);
  --bg7-color: rgba(0, 0, 0, 0.2);
  --glass-bg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
  --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);

  /* ===== =====>>  Font Size  <<===== =====  */
  --xxxl-fs: 2.2rem;
  --xxl-fs: 1.8rem;
  --xl-fs: 1.6rem;
  --l-fs: 1.4rem;
  --m-fs: 1.2rem;
  --s-fs: 1.1rem;
  --xs-fs: 1rem;

  /* =====>>  Margin  <<===== */
  --m-2-5: 2.5rem;
  --m-1-8: 1.8rem;
  --m-1-5: 1.5rem;
  --m-0-6: 0.6rem;
  --m-0-5: 0.5rem;
  --m-0-3: 0.3rem;

  /* =====>>  Padding  <<===== */
  --p-2-5: 2.5rem;
  --p-1-5: 1.5rem;
  --p-1-0: 1rem;
  --p-0-8: 0.8rem;
  --p-0-5: 0.5rem;
  --p-0-4: 0.4rem;
  --p-0-3: 0.3rem;
}

/* ===== =====>>  Body Css  <<===== =====  */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */

/* ===== =====>>  Main-Container Css  <<===== =====  */
.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "header header"
    "userProfile userDetails"
    "work_skills timeline_about"
    "work_skills timeline_about";
  width: 85%;
  height: 90vh;
  margin: auto;
  background: var(--glass-bg);
  padding: var(--p-1-5);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 25px rgba(0, 0, 0, 0.08);
}

/* ===== =====>>  Container Cards Grid-Area Css Start  <<===== =====  */
header {
  grid-area: header;
}

.userProfile {
  grid-area: userProfile;
}

.work_skills {
  grid-area: work_skills;
}

.userDetails {
  grid-area: userDetails;
}

.timeline_about {
  grid-area: timeline_about;
}

/* ===== =====>>  Container Cards Css  <<===== =====  */
.container .card {
  background: var(--glass-bg);
  backdrop-filter: blur(3rem);
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.05);
  padding: var(--p-1-5);
}

/* ===== =====>>  Container Header/Navbar Css  <<===== =====  */
.container header {
  padding: 0 var(--p-2-5);
}

.container header .brandLogo {
  display: flex;
  align-items: center;
}

.container header .brandLogo figure img {
  width: 3.5rem;
  height: 3.5rem;
}

.container header .brandLogo span {
  font-size: var(--xl-fs);
  font-weight: 700;
  margin-left: var(--m-0-5);
}

/* ===== =====>>  User Main-Profile Css Start  <<===== ===== */
.container .userProfile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;
  backdrop-filter: none;
  box-shadow: none;
}

.container .userProfile .profile figure img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;

}

.profile{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3rem;
  background-color: #33333374;
}
#s{
  border: 1px solid rgba(220, 20, 60, 0.149);
  display: flex;
  justify-content: space-evenly;
}


/* ===== =====>>  User Details Css Start  <<===== ===== */
.userDetails {
  position: relative;
  padding: var(--p-1-5) var(--p-2-5);
}

.userDetails .userName h1 {
  font-size: var(--xxxl-fs);
}


.userDetails .userName .map {
  position: absolute;
  top: 2.5rem;
  left: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userDetails .userName .map .ri {
  margin-right: var(--m-0-3);
  font-size: var(--m-fs);
}

.userDetails .userName .map span {
  font-size: var(--s-fs);
  color: var(--f3-color);
  font-weight: 700;
}

.userDetails .userName .pp {
  font-size: var(--m-fs);
  font-weight: 700;
  color: var(--f5-color);
  margin-bottom: var(--m-1-8);
}

.userDetails .rank {
  position: relative;
  margin-bottom: var(--m-1-8);
}

.userDetails .rank .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-0-6);
}

.userDetails .rank span {
  font-size: var(--xxl-fs);
  font-weight: 700;
}

.userDetails .rank .rating {
  position: absolute;
  top: 2.7rem;
  left: 3.5rem;
}

.userDetails .rank .rating .rate {
  color: var(--f5-color);
  font-size: var(--l-fs);
}

.userDetails .rank .rating .underrate {
  color: var(--f6-color);
}

.userDetails .btns ul,
.userDetails .btns ul li {
  display: flex;
  align-items: center;
}

.userDetails .btns ul li {
  margin-right: var(--m-2-5);
  border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
  margin-right: var(--m-0-5);
  font-size: var(--xl-fs);
}

.userDetails .btns ul li a {
  font-size: var(--l-fs);
  /* color: var(--f2-color); */
  color: var(--bg2-color);
  font-weight: 500;
}

.userDetails .btns ul li a:hover{
    color: var(--f5-color);
    border-bottom: 1px solid var(--f5-color) ;
    /* background: #e6f2ff; */
    /* padding: 5px; */
}



/* ===== =====>>  Timeline & About Css Start  <<===== ===== */
.timeline_about {
  padding: var(--p-2-5);
}

.timeline_about .tabs ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: var(--m-2-5);
  margin-left: 10px;
}

.timeline_about .tabs ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--bg7-color);
}

.timeline_about .tabs ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: var(--m-2-5);
  
  padding-bottom: var(--p-0-8);
  cursor: pointer;
}

.timeline_about .tabs ul li span {
  font-size: var(--l-fs);
  font-weight: 500;
}

.timeline_about .tabs ul li .ri {
  margin-right: var(--m-0-5);
}

.timeline_about .tabs ul .active::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--bg5-color);
}

.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading {
  font-size: var(--xs-fs);
  color: var(--f4-color);
  text-transform: uppercase;
  margin-bottom: var(--m-1-5);
  
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
  margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
  display: flex;
  margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li h1,
.timeline_about .basic_info ul li h1 {
  font-weight: 500;
  font-size: var(--m-fs);
  min-width: 12rem;
  
}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
  font-size: var(--m-fs);
  
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
  color: var(--f5-color);
}

input{
    border: none;
    outline: none;
    font-size: small;
}
.p{
    color: var(--bg5-color);
}

#edit{
    position: relative;
    left: 90%;
    cursor: pointer;
    /* width: 2rem; */
    border: 1px solid black;
}

.editable{
    border: 1px solid rgba(0, 0, 0, 0.253);
}

#e_btn{
    position: absolute;
    left: 30%;
    margin-top: 3rem;
    padding: var(--p-1-0);
    background-color: var(--C-lg-bg);
    color: var(--f2-color);
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

#e_btn:hover{
    background-color: var(--bg5-color);
    color: var(--bg1-color);
}
#e_btn2{
    position: absolute;
    left: 50%;
    margin-top: 3rem;
    padding: var(--p-1-0);
    background-color: var(--C-lg-bg);
    color: var(--f2-color);
    cursor: pointer;
    border-radius: 10px;
    display: none;
}

#e_btn2:hover{
    background-color: var(--bg5-color);
    color: var(--bg1-color);
}
.pos input{
  margin-left: 1.5rem;
  font-size: medium;
}
  .pos{
  margin: 2rem;
  position: relative;
  left: 6.5%;
}


.name{
   /* position: absolute; */
   margin: 1rem;
   /* border: 1px solid black; */
    color: #000;
    font-size: medium;
    font-weight: 500;

}
.pp{
  position: absolute;
   left: 20%;
   margin-left: 1rem;
    display: block;
}

#pic{
    object-fit:cover;
    width:250px;
     height:250px;
}

#inform{
  display: flex;
  justify-content: space-evenly;
}

#inform>div input{
  /* padding: 1rem; */
  margin: 0.2rem;
}

/* Navbar */

.navbar {
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 7rem;
  border-radius: 3rem;
}
#menu-icon {
  font-size: 3rem;
  display: none;
}
.navbar-menu.active {
  display: block;
}
.navbar-menu {
  display: flex;
  align-items: center;
  /* border: 1px solid blue; */
}

.navbar-item {
  position: relative;
  margin-left: 2rem;
}

.navbar-link {
  color: #333;
  text-decoration: none;
  font-weight: 600;
}

.navbar-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  /* padding: 10px; */
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar-item > div:nth-child(1) {
  display: block;
  display: flex;
  align-items: center;
}
.navbar-item > div,
.navbar-item a {
  color: rgb(42, 25, 25);
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navbar-item > div:hover {
  border-bottom: 2px solid blue;
}
.navbar-dropdown > div a {
  text-decoration: none;
  color: rgb(42, 25, 25);
  font-size: 1.4rem;
}

.navbar-dropdown > div:hover {
  background-color: aliceblue;
}
.navbar-dropdown > div {
  display: flex;
  align-items: center;
  padding: 0.4rem;
}
.navbar-item:hover .navbar-dropdown {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}
.navbar-item:hover .navbar-dropdown > div {
  margin-bottom: 0.7rem;
}
.navbar-item:hover .navbar-dropdown > div a {
  margin-left: 0.8rem;
}
.navbar-dropdown > div:hover {
  border-bottom: 0.1rem blue solid;
}
.navbar-dropdown > div:hover a {
  color: blue;
}
.request-a-tutor-nav-sec {
  padding: 0.6rem 0.8rem;
  background-color: rgb(70, 126, 70);
}
.request-a-tutor-nav-sec a {
  color: white;
}
.login-nav-sec {
  border: 1px solid rgb(70, 126, 70);
  padding: 0.6rem 0.8rem;
  color: white;
}

#navbar-login-dropdown {
  /* border: 2px solid red; */
  padding: 2rem 0;
}

#navbar-login-dropdown div {
  /* border: 2px solid blue; */
  padding: 0.5rem;
  margin: 0.5rem;
}
#navbar-login-dropdown div a {
  font-size: 2rem;
}
#login {
  background-color: rgb(230, 122, 63, 0.6);
}
#navbar-login-dropdown > div:hover {
  border-bottom: none;
}
#navbar-login-dropdown > div:nth-child(2):hover {
  background-color: white;
}
#navbar-login-dropdown > div:nth-child(2):hover a {
  color: rgb(42, 25, 25);
}
#login a {
  color: white;
}
#signup {
  background-color: rgb(70, 126, 70, 0.6);
}
#signup a {
  color: white;
}


/* Navbar end */

/* Footer */
#footer{
  display: flex;
  justify-content: space-evenly;
  /* gap: 2%;*********************************************************************** */
  background-color: #222;
  color: white;
}

#footer>ul{
  font-size: 20px;
  line-height: 35px;
}

#footer>ul>h4{
  border-bottom: 1px solid greenyellow;
}
/* Footer */



/*======================2nd form=====================================================*/
#Tf {
  background-color: white;
}
#Tf {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
#Tf {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* margin: 20px 0 12px 0; */
}
form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  /* margin-bottom: 5px; */
}

#tgen, #sgen, #newRole, #newOnline, #newRole, #newHomework {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  color: grey;
}

.user-details .input-box input {
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.button{
  height: 100%;
  width: 40%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  /* color: #fff; */
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
 }
#btnn{
  display: flex;
  justify-content: space-between;
}
#btnn a{
  text-align: center;
   background-color: #f0f0f0;
   color: #000;
}
.button:hover, #btnn a:hover{
  background-color: var(--bg5-color);
  color: var(--bg1-color);
}
